<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.usb.host" android:required="false" />
    <application android:label="DiPlay Android 6 Probe" android:allowBackup="false"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity android:name=".ProbeActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".ProbeVpnService" android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter><action android:name="android.net.VpnService" /></intent-filter>
        </service>
    </application>
</manifest>
